<footer class="footer">
<p>DISCLAIMER: Any advice given on this website should not be used in place of professional medical care, to diagnose or treat any illness. Please consult a certified vet or cat behaviourist. <br/>

  <span>🐈 🇮🇳
    Copyright © 2018 <b>Happy Kitten</b> by <a href="https://rohityadav.cloud">{{site.author}}</a>. <br/>
    Last updated: {{ site.time | date: '%-d-%-m-%Y %-H:%M:%S' }} | <a href="/sitemap.xml">sitemap</a> | <a target="_blank" href="https://github.com/myhappykitten/www/blob/master/{{page.path}}">edit this page</a>
  </span>
</p>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-4103494-21"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-4103494-21');
</script>

