<div class="page-header">
  <div>
    <span class="pagetop">
      <b class="rmain">🐈 {{site.title}} &nbsp;</b>
    </span>
    <span>
      <a href="/">Home</a> |
      <a href="/adopt">Adopt</a> |
      <a href="/buy">Buy</a> |
      <a href="/care">Care</a> |
      <a href="/interviews">Interviews</a> |
      <a href="/about">About</a>
      <a href="https://www.facebook.com/groups/850715891625822/" class="btn btn-danger btn-sm active text-right" style="float:right" role="button" aria-pressed="true">Adopt Now!</a>
    </span>
  </div>
</div>
