<div class="page-header">
  <div>
    <span class="pagetop">
      <b class="rmain topleft">🐈 <a href="/" style="color: #000;">{{site.title}}</a> &nbsp;</b>
      <a href="https://www.facebook.com/groups/850715891625822/" class="btn btn-danger btn-sm active topright" role="button" aria-pressed="true"><b>Adopt Now!</b></a>
    </span>
    <span class="navmenu">
      <a href="/adopt">adopt</a> |
      <a href="/buy">buy</a> |
      <a href="/care">care</a> |
      <a href="/recommendations">recommendations</a> |
      <a href="/stories">stories</a> |
      <a href="/about">about</a>
    </span>
  </div>
</div>

<a href=""><b>Site under construction</b></a>
